
div.ajax-select {
  float: left;
  margin: 0;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-right: 16px;
}

div.ajax-select div.form-item {
  margin: 0;
}

.ajax-select-form-image {
  background-image: url(loading.gif);
}

.field .field-label-inline,.field .field-label-inline-first {
  float: left;
}